* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  text-align: center;
  gap: 5rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-top: 0.125rem solid #000;
  background-color: rgb(50, 79, 52);
}

footer p {
  padding-top: 1rem;
  color: rgb(255, 0, 0);
  font-weight: bold;
}

button {
  margin: 0.3rem;
  padding: 0.5rem;
  border-radius: 5px;
  transition: 250ms ease-in;
  border: none;
  border-radius: 0px;
}

button:hover {
  outline-offset: 0.125rem;
}

h1 {
  color: rgb(255, 0, 0);
  text-align: center;
  background-color: rgb(50, 79, 52);
  padding: 3rem;
  font-size: 2.3rem;
  border-bottom: 0.125rem solid #000;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1:hover {
  background-color: rgb(0, 0, 0);
}

h2 {
  text-align: center;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.menu {
  display: grid;
  /* outline: 0.125rem solid rgb(118, 118, 118); */
  padding: 10px;
  border-radius: 5px;
  transition: 250ms ease-in;
  margin: 1rem;
}

.menu:hover {
  outline-offset: 0.125rem;
}

.menu img {
  place-self: center;
  max-width: 75%;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.menu p {
  margin-bottom: 0.2rem;
  text-align: start;
}

#back_knap {
  place-self: start;
}

@media (min-width: 542px) {
  h1 {
    font-size: 4.5rem;
  }

  footer {
    display: flex;
    justify-content: center;
  }
}

body {
  background-color: #e6f1e8;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: bebas-neue-semirounded, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #677c5b;
}

p {
  font-family: bressay-display-devanagari, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #25312a;
  padding-top: 1.5%;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.kollonne {
  text-align: start;
}
